[project]
	description = Module for managing entries in xinetd
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/for/refs/*"]
	read = group user/RDO CI Service Account (rdo-ci-service)
	push = group user/RDO CI Service Account (rdo-ci-service)
	label-Code-Review = -2..+2 group user/RDO CI Service Account (rdo-ci-service)
	label-Verified = -1..+1 group user/RDO CI Service Account (rdo-ci-service)
	rebase = group user/RDO CI Service Account (rdo-ci-service)
	removeReviewer = group user/RDO CI Service Account (rdo-ci-service)
	submit = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/heads/*"]
	read = group user/RDO CI Service Account (rdo-ci-service)
	create = group user/RDO CI Service Account (rdo-ci-service)
	push = +force group user/RDO CI Service Account (rdo-ci-service)
	pushMerge = group user/RDO CI Service Account (rdo-ci-service)
[access "refs/tags/*"]
	push = +force group user/RDO CI Service Account (rdo-ci-service)
	pushTag = group user/RDO CI Service Account (rdo-ci-service)
	pushSignedTag = group user/RDO CI Service Account (rdo-ci-service)
